<li>
  <div class="d-flex align-items-center gap-2 mb-3">
    <%= image_tag image_path(attendee.avatar.url), size: '200x200', class: 'w-24 h-24 rounded-full object-cover' %>
    <% if attendee == current_user %>
      <%= link_to attendee.name, profile_path %>
    <% else %>
      <%= link_to attendee.name, user_path(attendee.id) %>
    <% end %>
  </div>
</li>
