<div class="flex justify-start items-center min-h-screen bg-base-100">
  <div class="card bg-base-200 shadow-xl w-full lg:w-3/4 xl:w-1/2 m-12">
    <div class="card-body">
      <h1 class="card-title"><%= t '.title' %></h1>
      <%= render 'form', team: @team %>
    </div>
  </div>
</div>
