<div class="min-h-screen bg-base-100">
  <div class="flex justify-start mx-auto p-2">
    <%= link_to team_path(@team), class: "btn btn-link no-underline" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd" d="M12.5 9.75A2.75 2.75 0 0 0 9.75 7H4.56l2.22 2.22a.75.75 0 1 1-1.06 1.06l-3.5-3.5a.75.75 0 0 1 0-1.06l3.5-3.5a.75.75 0 0 1 1.06 1.06L4.56 5.5h5.19a4.25 4.25 0 0 1 0 8.5h-1a.75.75 0 0 1 0-1.5h1a2.75 2.75 0 0 0 2.75-2.75Z" clip-rule="evenodd" />
      </svg>
       「くわしく」へもどる
    <% end %>
  </div>
  <div class="card bg-base-200 mx-auto my-4 shadow-xl w-full lg:w-3/4 xl:w-1/2">
    <div class="card-body">
      <h1 class="card-title"><%= t '.title' %></h1>
      <%= render 'form', team: @team %>
    </div>
  </div>
</div>
