<div class="pl-12 flex justify-center items-center min-h-screen bg-gray-100">
  <div class="flex flex-col">
    <span class="countdown font-mono text-5xl">
      <span>00</span>
    </span>
    時間 
  </div> 
  <div class="flex flex-col">
    <span class="countdown font-mono text-5xl">
      <span>00</span>
    </span>
    分 
  </div> 
  <div class="text-md font-bold">増やせました</div>
</div>
