<div class="stats shadow mb-8 bg-base-200">
  <div class="stat place-items-center">
    <div class="stat-title text-primary-content">これまでに増やした森林</div>
    <div class="stat-value text-primary"><%= format_duration(user.user_total_time) %></div>
    <div class="stat-desc">&emsp;&emsp;時間&emsp;&emsp;&emsp;分</div>
  </div>
</div>
