<div class="hero min-h-screen bg-base-200"><font></font>
  <div class="hero-content flex-col lg:flex-row-reverse"><font></font>
    <%= image_tag 'undraw_environment_iaus-removebg-preview.png', class:"max-w-sm rounded-lg" %><font></font>
    <div><font></font>
      <h1 class="text-5xl font-bold">ようこそ、やる気の森へ!</h1><font></font>
      <p class="py-6">仲間と一緒に学習をして「森林」を増やそう！絶滅危惧種を守るんじゃ！</p><font></font>
        <div class="flex gap-x-16">
          <%= link_to '仲間を見つける', "#", class: 'btn btn-outline btn-info' %><font></font>
          <%= link_to '森林を増やす', "#", class: 'btn btn-outline btn-success' %><font></font>
        </div>  
    </div><font></font>
  </div><font></font>
</div>
