<div class="hero min-h-screen" data-controller="background" data-background-images-value="<%= @images.map { |img| asset_path("top_pages/#{img}")}.to_json %>">
  <div data-background-target="overlay" class="hero-overlay bg-base-100 bg-opacity-40 bg-cover bg-center"></div>
  <div class="hero-content text-center text-neutral">
    <div class="max-w-2xl">
      <h1 class="text-5xl font-bold">ようこそ、やる気の森へ!</h1>
      <p class="py-6">仲間と一緒に学習をして「森林」を増やして絶滅危惧種を救おう！</p>
        <div class="flex justify-center gap-x-16">
          <%= link_to '仲間を見つける', teams_path, class: 'btn btn-info' %>
          <% if logged_in? && @active_team.present? %>
            <%= link_to '森林を増やす', member_page_team_path(@active_team), class: 'btn btn-success' %>
          <% elsif logged_in? && @previous_team.present? %>
            <%= link_to '森林を増やす', member_page_team_path(@previous_team), class: 'btn btn-success' %>
          <% end %>
        </div>  
    </div>
  </div>
</div>
