<div
  data-edit-timer-target="modal"
  class="hidden bg-gray-300 bg-opacity-50 fixed inset-0 overflow-y-auto flex items-center justify-center"
  style="z-index: 9999;">
  <div class="max-h-screen md:w-1/2 sm:w-72 max-w-2lg relative">
    <div class="bg-white shadow-xl rounded-lg">
      <div class="flex justify-end">
        <div class="tooltip tooltip-left"  data-tip="学習計測へ">
          <%= link_to new_team_timer_path(@team), class: "btn btn-sm btn-circle btn-ghost m-2" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          <% end %>
        </div>
      </div>
      <div class="p-8">
        <h2 class="text-xl mb-4">編集後の学習時間</h2>
        <p class="mb-4"><span data-edit-timer-target="modalTime"></span></p>
        <div class="flex justify-end items-center flex-wrap mt-6">
          <%= link_to "#", class: "btn btn-primary mx-2", target: '_blank', data: { edit_timer_target: "shareLink" } do %>
            <%= image_tag ("logo-black.png"), size: "20x20" %> シェア！
          <% end %>
          <%= link_to "森林を確認", member_page_team_path(@team), class: "btn btn-secondary m-2" %>
          <button class="btn btn-accent mx-2" data-action="click->edit-timer#modalClose">
            編集し直す 
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
