<div tabindex="0" class="card w-80 h-[32rem] glass dropdown-content z-[1] shadow rounded-box overflow-y-hidden flex flex-col justify-between">
  <h1 class="card-title m-4"><%= image_tag "chat_cats.png" %></h1>
  <div id='messages' data-room-id="<%= @room.id %>" data-current-user-id="<%= current_user.id %>", class="overflow-y-auto">
    <%= render partial: 'messages/message', collection: @messages %>
  </div>
  <div class="flex">
    <input type="text" placeholder="メッセージを書いてね！" class="input input-bordered input-success w-full max-w-xs m-4" data-behavior="room_speaker" />
    <button id="send-message" class="btn btn-ghost btn-circle ml-2 mt-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
      </svg>
    </button>
  </div>
</div>
