@tailwind base;
@tailwind components;
@tailwind utilities;

/* 点滅 */
.blink {
	animation: blinking 1s ease-in-out infinite alternate;
}
 
@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}

.background-image {
  animation: fadeInOut 10s infinite;
  background-size: cover;
  background-position: center;
}

.text-shadow {
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.7)
}

.body {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr); /* 4列から1列に */
    gap: 38px 6px; /* 縦方向のギャップを12pxに設定 */
  }
}
